* {
    /* zerando as configs da folha */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
}

.headProduto {
    background-image: url(../img/aj1Geral.webp);
    background-size: cover;
    min-height: 90px;
    padding: 30px;
    background-position-y: 0px;
    margin: 0 auto;
}

.busca {

    position: absolute;
    left: 132px;
    top: 33px;



}

.buscaTexto {
    border-radius: 10px;
    border: solid 1px white;
    padding: 2px 126px 2px 10px;
    margin: 0px 6px 0 6px;

}

.buscaBotao {
    border-radius: 10px;
    border: solid 1px white;
    padding: 2px 10px 2px 10px;
    margin: 0px 6px 0 6px;
    background-color: white;

}

.container {
    /* posição do banner */
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
}

.logo {
    position: relative;
    background-image: url('../img/LogoFinal.png');
    background-size: 100% 100%;
    /* pega o tamanho 100% da imagem nos dois eixos independente do tamanho do box */
    width: 77px;
    /* determinando o tamanho do box */
    height: 67px;
    float: left;
    /* flutua a box para a esquerda */
    bottom: 19px;

}

nav.desktop {

    float: right;
    /* flutua a box para a direita */
}

nav.desktop ul {
    /* itens do menu superior */
    list-style-type: none;
    /* tira a decoração da lista */
    font-family: 'Saira Condensed', sans-serif;

}

nav.desktop li {
    /* pai dos itens do menu superior */
    display: inline-block;
    margin: 0 15px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;

}

nav.desktop a {
    /* formatação dos botões na barra de navegação */

    text-decoration: none;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
}

nav li.btn-orcamento {
    /* botao na nav para orçamentoi */

    padding: 3px 8px;
    border-radius: 20px;
    border: 2px solid #E7E7E7;

}

.sessao-03 {
    /* início da sessão de produtos */

    padding: 15px 0 0 45px;
    margin: 45px 0;
    padding-top: 0;
}

.sessao-03 div {
    /* divisorias do produtos */

    border-radius: 20px;
    width: 21%;
    display: inline-block;
    position: relative;
    background-color: #E7E7E7;
    margin: 14px;
    height: 274px;
}

.sessao-03 .produto1 {
    /* foto do 1º produto */

    background-image: url("../img/categoriaNike/AF1.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: start;
    padding-left: 10px;

}

.sessao-03 .produto1 h4 {
    /* preço total do 1º produto */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 51%;

}

.sessao-03 .produto1 h2 {
    /* preço em parcelas do 1º produto */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 76%;

}

.sessao-03 .produto1 p {
    /* Nome do 1º produto */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 88%;

}

.sessao-03 .produto2 {
    /* Foto do 2º produto */

    background-image: url("../img/categoriaNike/dunkLow.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: start;
    padding-left: 10px;

}

 .sessao-03 .produto2 h4 { 

    /* Preço total do 2º produto */
    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 51%;
}
 
.sessao-03 .produto2 h2 {
    /* preço da parcela do 2º produto */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 76%;

}

.sessao-03 .produto2 p {
    /* Nome do 2º produto */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 88%;

}

.sessao-03 .produto3 {
    /* foto do 3º produto */

    background-image: url("../img/categoriaNike/reactInfinity.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: start;
    padding-left: 10px;

}

.sessao-03 .produto3 h4 {
    /* preço total dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 51%;

}

.sessao-03 .produto3 h2 {
    /* preço em parcela dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 76%;

}

.sessao-03 .produto3 p {
    /* Nome dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 88%;

}
.sessao-03 .produto4 {
    /* foto do 3º produto */

    background-image: url("../img/categoriaNike/reactInfinity2.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: start;
    padding-left: 10px;

}

.sessao-03 .produto4 h4 {
    /* preço total dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 51%;

}

.sessao-03 .produto4 h2 {
    /* preço em parcela dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 76%;

}

.sessao-03 .produto4 p {
    /* Nome dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 88%;

}
.sessao-03 .produto5 {
    /* foto do 3º produto */

    background-image: url("../img/categoriaNike/zoomX.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: start;
    padding-left: 10px;

}

.sessao-03 .produto5 h4 {
    /* preço total dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 51%;

}

.sessao-03 .produto5 h2 {
    /* preço em parcela dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 76%;

}

.sessao-03 .produto5 p {
    /* Nome dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 88%;

}
.sessao-03 .produto6 {
    /* foto do 3º produto */

    background-image: url("../img/categoriaNike/zoomFly.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: start;
    padding-left: 10px;

}

.sessao-03 .produto6 h4 {
    /* preço total dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 51%;

}

.sessao-03 .produto6 h2 {
    /* preço em parcela dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 76%;

}

.sessao-03 .produto6 p {
    /* Nome dos produtos */

    position: absolute;
    font-family: 'Saira Condensed', sans-serif;
    color: #626262;
    top: 88%;

}


.preco {
    /* Negrito nos preços dos produtos */

    color: #000000;
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;

}

.verMais {
    margin: 0 auto;
    background-color: #B3B3B3;
    position: absolute;
    padding: 0px 4px 0px 4px;
    border-radius: 10px;
    top: 175px;
    border: solid 1px #a9afcc;
    font-weight: bold;
    color: #1e1e1e;

}

.sessao-04 {
    /* sessão das logo de marcas existentes no site */
    background: black;
    text-align: center;
    display: block;
    width: 60%;
    margin: 0 auto;

    /* height: 45px;
    left: 23%; */
}

.sessao-04 div {
    /* divisoria das logos no fim da barra de rolagem */

    width: 160px;
    height: 45px;
    background-color: #000000;
    display: inline-block;


}

.sessao-04 .marcas1 {
    /* 1º logo de marcas no fim da barra de rolagem. */
    background-image: url("../img/AdidasLogo.png");
    background-size: cover;
}

.sessao-04 .marcas2 {
    /* 2º logo de marcas no fim da barra de rolagem. */
    background-image: url("../img/MizunoLogo.png");
    background-size: cover;
}

.sessao-04 .marcas3 {
    /* 3º logo de marcas no fim da barra de rolagem. */
    background-image: url("../img/NbLogo.png");
    background-size: cover;
}

.sessao-04 .marcas4 {
    /* 4º logo de marcas no fim da barra de rolagem. */
    background-image: url("../img/NikeLogo.png");
    background-size: cover;
}

footer {/* configurações da caixa do footer */
    padding-top: 10px;
    margin-top: 50px;
    width: 100%;
    height: 170px;
    background-image: url(../img/aj1Geral.webp);
    background-size: 159%;
    background-position-x: -239px;
}
footer .contato{ /* alinhamento do conteudo footer */
    text-align: center;
    color: #2b243e;
    
}
footer .contatoB{/* Texto em negrito do footer */
    font-weight: bold;
    display: inline;
    color: #ffffffee;
    padding: 0px 5px;
    border-radius: 20px;
    background-color: #98a3c463;
    box-shadow: 0px 0px 5px 5px #98a3c463;
}
